<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB9zsA6dgv2AKzp8SfZ-HsSNcTzpS5R11E</string>
	<key>GCM_SENDER_ID</key>
	<string>727188531218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blooddonation</string>
	<key>PROJECT_ID</key>
	<string>blood-donation-9e33c</string>
	<key>STORAGE_BUCKET</key>
	<string>blood-donation-9e33c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:727188531218:ios:9c15d2e84904bce77a10cb</string>
</dict>
</plist>